<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Browse Cultural Heritage by Color</title>
<!-- Latest compiled and minified CSS -->
{% include 'head-css.html' %}
</head>
<body>
<h2>Images containing {{name}}</h2>
<div id="images container-fluid">
    {% for record in records %}
    <div class="img-responsive img-thumbnail image">
        <a href="{{ record.url }}" title="{{record.title}}" alt="{{record.title}}"/>
            <img src="{{ record.thumb }}" />
        </a>
    </div>
    {% endfor %}
</div>

{% include 'end-body-js.html' %}
</body>
</html>