{% include 'head.j2' %}
<body>
{% include 'nav.j2' %}
<h2 class="">{{ pagination.total }} images containing {{name}} </h2>
<div id="images" class="images container-fluid">
    {% for record in records %}
    <div class="img-responsive img-thumbnail image">
        <a href="{{ record.url }}" title="{{record.title}}" alt="{{record.title}}">
            <img height="180" src="{{ record.thumb }}" alt="{{ record.title }}" />
        </a>
    </div>
    {% endfor %}
</div>

<div id="lower-nav">
{{ pagination.links }}
</div>

{% include 'end-body-js.j2' %}
</body>
</html>