
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.infinitescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='spectrum.js') }}"></script>
    <script>



        // Get a list of available colors
        var colors;
        var color = {% if hex %} "{{ hex }}" {% else %} "000000" {% endif %};
        $.getJSON("/colors", function(data){
            colors = data;
            $("#palette").spectrum({
               preferredFormat: "hex", 
               showPaletteOnly: true,
               showPalette:true,
               hideAfterPaletteSelect:true,
               color: color,
               palette: colors.map(function(x) {return x[0]}),
               //flat: true,
               showInput: true,
                change: function(color) {
                 window.location.href =  "/" + color.toHexString().slice(1);
                 }
           });
             color_and_name = [];
             color_and_name = color_and_name.concat.apply(color_and_name,colors);
             $(".typeahead").typeahead({
                 source: color_and_name,
                 afterSelect: function(color) { document.location.href = "/" + color }
             });
        });


        load_images = function(color) {
            $.getJSON(
                "/color/" + color,
                function(data) {
                  $("#images").empty();
                    for (d in data) {
                        $("#images").append("<div class='img-responsive img-thumbnail image'>" +
                    "<a href='" + data[d].url + "'>" +
                    "<img title='" + data[d].title + "' alt='" + data[d].title +
                    "' src='" + data[d].thumb + "' /></a></div>")}

                }
            )
        }


    $('#images').infinitescroll({

    navSelector  : "#lower-nav",
                   // selector for the paged navigation (it will be hidden)
    nextSelector : "#lower-nav li.next a",
                   // selector for the NEXT link (to page 2)
    itemSelector : ".image",
                   // selector for all items you'll retrieve
    debug: true
  });

    </script>
