<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Search DPLA by Color by Color</title>
    <!-- Latest compiled and minified CSS -->
    {% include 'css.j2' %}
  </head>